* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

/* Utility */

.bg-black{
    background-color: #000;
}

.bg-white{
    background-color: #fff;
}

.bg-grey{
    background-color: #222;
}

.bg-lightgrey{
    background-color: #4A4A4A;
}

.color-text-white{
    color: #fff;
}

.color-text-red{
    color: #e50914;
}

.color-text-green{
    color: #09e518;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.a-start{
    align-items: flex-start;
}

.a-center{
    align-items: center;
}

.a-end{
    align-items: flex-end;
}

.j-start{
    justify-content: flex-start;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: flex-end;
}

.j-between{
    justify-content: space-between;
}

/* Header */

.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

.btn{
    padding: 3px 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.btn:hover{
    background-color: #222;
}

.btn:last-child{
    margin-right: 0;
}

.btn .fa-solid{
    font-size: 15px;
}

.btn_text{
    font-size: 15px;
    margin-left: 5px;
}

/* Main */

.main{
    position: relative;
    z-index: 5;
    height: 100vh;
    padding: 60px;
    cursor: default;
}

.card{
    margin-bottom: 3%;
    cursor: pointer;
}

.web_img{
    position: relative;
    width: 320px;
    height: auto;
}

.img_filler .web_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_filler {
    display: block;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.container_info_user{
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 15px;
}

.user_name{
    margin-left: 5px;
}

/* Footer */

.footer{
    position: fixed;
    z-index: 6;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    padding: 0 5px;
}

.box_action_container{
    background-color: rgba(74, 74, 74, 0);
    height: 100%;
    padding: 10px;
    border-radius: 6px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.box_action_container:hover{
    background-color: rgba(74, 74, 74, 1);
}

.container_left{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container_left .fa-solid .fa-regular{
    color: #fff;
    font-size: 20px;
}

.text_action{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}

.container_right{
    margin-left: 10px;
}

.container_right .fa-solid,
.container_right .fa-regular{
    font-size: 13px;
    transition: transform 200ms ease;
}

.box_action_container:hover .container_right .fa-solid,
.box_action_container:hover .container_right .fa-regular{
    transform: rotate(180deg);
}

#box_action_share_screen{
    background-color: rgba(9, 229, 24, 0);
    transition: background-color 200ms ease;
}

#box_action_share_screen:hover{
    background-color: rgba(9, 229, 24, .7);
}

#box_action_share_screen .container_left .fa-share{
    color: rgba(9, 229, 24, 1);
    transition: color 200ms ease;
}

#box_action_share_screen:hover .container_left .fa-share{
    color: #fff;
}

.end_call{
    background-color: rgba(229, 9, 20, 0);
    color: #e50914;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color, color 200ms ease;
}

.end_call:hover{
    background-color: rgba(229, 9, 20, .5);
    color: #fff;
}